body > section:first-child {
    position: relative;
    width: 700px;
    top: 200px;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
body > section:nth-child(2) {
    position: relative;
    display: flex;
    top: 250px;
    left: 600px;
}
body > section:nth-child(2) > button {
    margin-left: 20px;
}

.light {
    border: black solid 2px;
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-left: 10px;
    background: red; /* Initialize the lights as red */
}